.cui-toast .cui-layer-padding {
    max-width: 280px;
    min-width: 150px;
    line-height: 24px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .7);
    padding: 10px 15px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    word-break: break-all
}